.contacts {
  &-wrapper {
    @include page-grid;

    row-gap: $grid-row-gap;
  }

  &-p {
    margin: 0;
    font-family: Poppins, sans-serif;
  }

  &-form {
    display: grid;
    gap: $form-gap;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: start;
    font-family: Poppins, sans-serif;
    margin-bottom: 0;
    gap: 24px;


    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }

    &__link {
      margin: 0;
      font-family: Poppins, sans-serif;
      color: $page-color;
    }
  }

  &-forms {
    outline: none;
    padding: 14px 16px;
    border-radius: $radius-input;
    border: none;
    background: $page-color;
    font-size: $font-base;

    &::placeholder {
      color: $contact-color;
      transition: color 0.3s;
    }

    &:hover::placeholder {
      color: $nav__link-color;
    }
  }

  &-forms-textarea {
    font-family: Poppins, sans-serif;
    padding: 14px 16px;
    border-radius: $radius-textarea;
    border: none;
    background: $page-color;
    min-height: $textarea-min-height;
    resize: none;
    font-size: $font-base;
    margin-bottom: $form-gap;
    outline: none;

    &::placeholder {
      color: $contact-color;
      transition: color 0.3s;
    }

    &:hover::placeholder {
      color: $nav__link-color;
    }
  }

  button {
    font-family: Poppins, sans-serif;
    padding: 14.5px;
    border-radius: $radius-button;
    border: none;
    background: $page-color;
    font-weight: 700;
    font-size: $font-base;
    line-height: 27px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 15px $hover-color;

      @include hover(transform, scale(1.2));
    }

    &:active {
      box-shadow: 0 0 15px $hover-color-active;
    }
  }
}
