.header {
  background-image: url(../../images/Cover_photo.png);
  background-size: cover;
  background-position: 90% center;
  background-repeat: no-repeat;

  &__content {
    height: 100vh;
    min-height: $menu-height;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    margin: 0;
    font-style: bold;
    font-weight: $menu-font-weight;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-desktop {
      padding-bottom: 203px;
    }
  }
}
