.icon {
  display: block;
  width: $icon-height;
  height: $icon-height;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: $onTablet-icon-height;
    width: $onTablet-icon-height;
  }

  &--phone {
    background-image: url(../../images/Icon-Phone-call.svg);
  }

  &--menu {
    background-image: url(../../images/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../../images/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../../images/icon-close.svg);
  }
}
