.main {
  background-color: $nav__link-color;

  &-content {
    display: grid;
    row-gap: 92px;
    padding-block: 60px;

    color: $page-color;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
