.page {
  font-family: $page-font-family;
  color: $page-color;


  scroll-behavior: smooth;

  &__body {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;


    transition: all 0.3s ease;
    opacity: 0;

    transform: translateY(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;

      transform: translateY(0);
      pointer-events: all;
    }
  }
}

// .page__menu.menu:target ~ .main,
// .page__menu.menu:target ~ .footer,
// .page__menu.menu:target ~ header {
//   overflow: hidden;
//   height: 0;
// }

