.phone-wrapper {
  position: relative;

  .phone-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    background-color: $nav__link-color;
    color: $page-color;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-size: 14px;
  }

  &:hover .phone-tooltip {
    opacity: 1;
  }
}
